In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./temp.tsv', delimiter="\t", index_col="ID")

In [3]:
df.head()

,old_name,x,y,name,city,state,country,lat,lon
ID,,,,,,,,,
1,Wiley Post-Will Rogers Mem,0.4407,0.0910,Wiley Post Will Rogers Memorial Airport,Barrow,Alaska,United States,71.2892,-156.772
2,Deadhorse,0.4830,0.1014,Deadhorse Airport,Prudhoe Bay,Alaska,United States,70.1975,-148.458
3,Ralph Wien Memorial,0.4110,0.1330,Ralph Wien Memorial Airport,Kotzebue,Alaska,United States,66.8893,-162.61
4,Fairbanks International,0.4861,0.1528,Fairbanks International Airport,Fairbanks,Alaska,United States,64.8183,-147.866
5,Nome,0.3965,0.1557,Nome Airport,Nome,Alaska,United States,64.5125,-165.445

In [4]:
with open("./USAir97.net.txt") as f:
    ## You want to replaced the "" from the airport names before spliting
    content = f.read().replace('"', "").split("\n")
## Those are the airports
# nodes = content[1:333]

In [5]:
edges = content[335:-1]

In [41]:
links = []
for edge in edges:
    s,d,w = edge.strip().split()
    sourceLocation = [float(df.loc[int(s)]['lon']), float(df.loc[int(s)]['lat'])]
    targetLocation = [float(df.loc[int(d)]['lon']), float(df.loc[int(d)]['lat'])]
    links.append({'sourceLocation': sourceLocation, 'targetLocation':targetLocation, 'weight':float(w),
                    'source' : df.loc[int(s)]['name'], 'target':df.loc[int(d)]['name']})

In [42]:
import json
with open('edges.json', 'w') as f:
    json.dump(links, f)

In [23]:
df.index[0]

1

In [37]:
important = {}
count = {}
for edge in edges:
    s,d,w = edge.strip().split()
    s = int(s)
    d = int(d)
    w = float(w)
    if s not in important:
        important[s] = 0.0
        count[s] = 0
    if d not in important:
        important[d] = 0.0
        count[d] = 0
    important[s] += w
    count[s] += 1
    important[d] += w
    count[d] += 1

In [38]:
len(important)

332

In [39]:
nodes = []
for idx in df.index:
    cur = df.loc[idx].to_dict()
    cur["lat"] = float(cur["lat"])
    cur["lon"] = float(cur["lon"])
    cur["id"] = idx
    cur["weight"] = important[idx]
    cur["count"] = count[idx]
    del cur["old_name"]
    del cur["x"]
    del cur["y"]
    nodes.append(cur)
import json
with open('nodes.json', 'w') as f:
    json.dump(nodes, f)

In [6]:
# output = []
# for edge in edges:
#     output.append(edge.strip().split())
# df = pd.DataFrame(output, columns=["Source", 'Destination', "Weights"])

In [7]:
# df.Source = df.Source.astype('int')
# df.Destination = df.Destination.astype('int')
# df.Weights = df.Weights.astype('float')

In [8]:
# df.to_csv("../Data/edges.csv")

In [10]:
nodes = []
for idx in df.index:
    cur = df.loc[idx].to_dict()
    cur["lat"] = float(cur["lat"])
    cur["lon"] = float(cur["lon"])
    nodes.append(cur)

links = []

for edge in edges:
    s,d,w = edge.strip().split()
    links.append({'source': int(s), 'target':int(d), 'weight':float(w)})

output = {'nodes': nodes, 'links':links}

import json
with open('UsAir97.json', 'w') as f:
    json.dump(output, f)

In [9]:
# """
#     "1" : {
#         "id": "1" 
#         "old name": "wiley ..",
#         "name" : "...",
#         "x" : ,
#         "y" : ,
#         "city":,
#         "state",
#         "conuntry",
#         "lat":,
#         "long",
#         "edges" : [3, 4, 5, 2]
#         "weights": []
#     },
#     "2" :{...}
# """
# output = {}

# for edge in edges:
#     s,d,w = edge.strip().split()
#     if int(s) not in output:
#         cur = df.loc[int(s)].to_dict()
#         cur['id'] = int(s)
#         cur['edges'] = [int(d)]
#         cur['weights'] = [float(w)]
#     else:
#         cur = output[int(s)]
#         cur['edges'].append(int(d))
#         cur['weights'].append(float(w))
#     output[int(s)] = cur

# for i in df.index:
#     if i not in output:
#         cur = df.loc[i].to_dict()
#         cur['id'] = i
#         cur['edges'] = []
#         cur['weights'] = []
#         output[i] = cur

# temp = []
# for key in output:
#     temp.append(output[key])

# import json
# with open('./final.json', 'w') as f:
#     json.dump(temp, f)